:root {
  --color-white: #f0f0f0;
  --color-red: #be3144;
  --color-blue: #45567d;
  --color-gray: #303841;
  --color-orange: #ff7f50;
}

/* BASE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */
.margin-top-small {
  margin-top: 2.5% !important;
}

.bold {
  font-weight: 800 !important;
}

/* GRID */
.row {
  width: 62%;
  margin: 0 auto;
  margin-top: 4%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3.2rem;
  grid-template-rows: 45rem;
}

/* HEADER */
.header {
  background-color: var(--color-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__list {
  display: flex;
  list-style: none;
  color: var(--color-white);
  font-size: 2.32rem;
}

.header__item {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 1.8rem;
}

.header__item:hover {
  background-color: var(--color-blue);
}

/* SECTION WELCOME */
.welcome {
  height: 100vh;
  padding-top: 8rem;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  color: var(--color-white);
  font-size: 6rem;
  font-weight: 700;
}

.welcome__descrip {
  color: var(--color-red);
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

/* SECTION PROJECTS */
.projects {
  background-color: var(--color-blue);
  /* height: 140vh; */
  padding-bottom: 3rem;
}

.projects__title {
  color: var(--color-white);
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid var(--color-white);
  width: 40%;
  margin: 0 auto;
  padding-top: 7rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.projects__container:hover .title-decorative {
  opacity: 1;
  transition: all 0.5s ease-out;
}

.projects__container-upper {
  height: 80%;
}

.projects__img {
  height: 100%;
  width: 100%;
}

.projects__container-lower {
  height: 20%;
  background-color: var(--color-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}

.project_descrip {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 400;
}

.title-decorative {
  color: var(--color-orange);
  opacity: 0;
}

.projects__show {
  border: none;
  padding: 1.6rem 2.3rem;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--color-gray);
  font-size: 2rem;
  transition: all 0.3s;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;

  display: flex;
  margin: 3% auto;
}

.projects__show:hover {
  background-color: var(--color-red);
}

.projects__show:hover .toright {
  transform: translateX(0.5rem);
}

.toright {
  margin-left: 0.7rem;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* SECTION CONTACT */
.contact {
  height: 79vh;
  background-color: var(--color-gray);
  text-align: center;
  color: var(--color-white);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__work {
  font-size: 5.5rem;
  padding-bottom: 1rem;
}

.contact__coffee {
  font-style: italic;
  font-size: 2rem;
  font-weight: 200;
}

.contact__list {
  display: flex;
}

.contact__item {
  list-style: none;
  padding: 3rem;
  padding-top: 6rem;
  font-size: 2.7rem;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease-out;
}

.contact__item:hover {
  transform: translateY(0.8rem);
}

/* FOOTER */
.footer {
  height: 13vh;
  background-color: var(--color-gray);
  border-top: 4px solid var(--color-red);
  color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8rem;
}

/* MEDIA QUERY GENERAL FIXES*/

@media (max-width: 139.4rem) {
  .projects__title {
    width: 80%;
  }
}

/* MEDIA QUERY TABLET*/
@media (max-width: 76.8rem) {
  .row {
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 67rem) {
  .contact__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* MEDIA QUERY MOBILE */
@media (max-width: 35rem) {
  .welcome__title {
    font-size: 4rem;
  }

  .row {
    padding-top: 2rem;
    width: 90%;
  }

  .contact__work {
    padding-top: 12rem;
  }
}

@media (max-width: 44.4rem) {
  .contact__list {
    padding-bottom: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .contact__list:last-child {
    padding-bottom: 8rem;
  }

  .footer {
    padding: 2rem;
    height: auto;
  }

  .footer p {
    padding: 2rem;
  }
}
